<html ng-app="demo">
	<head>
		<title>Angular TO-DO List</title>
		<script src="vendor/jquery/jquery-2.1.3.min.js"></script>
		<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
		<link rel="stylesheet" type="text/css" href="./vendor/bootstrap/css/bootstrap.css">
		<script src="vendor/angular/angular.min.js"></script>	
		<script src="viewmodel.js"></script>
	</head>
	<body ng-controller="MainController">
		<div class="container">
			<h1>To-Do List</h1>

			<div class="row">
				<div ng-repeat="item in vm.list track by item._id" style="padding:10px">
					<button class="btn btn-danger" ng-click="vm.removeItem(item)">x</button>
					{{item.details}}
				</div>
			</div>			
			
			<div class="row">
				<form role="form">
					<div class="form-group">
						<label for="newItemDetails">New Item Details:</label>
						<input type="text" class="form-control" placeholder="Details for new to-do item" ng-model="vm.newItemDetails">
					</div>
					<button type-"submit" class="btn btn-primary" ng-click="vm.addItem()" ng-disabled="!vm.newItemDetails">Add</button>
				</form>
			</div>
		<div>
	</body>
</html>